import(methods)

export(
    ## from R/cbind.R:
    cbind,
    rbind,

    ## from R/paste.R:
    paste,

    ## from R/updateObject.R:
    updateObject,
    updateObjectFromSlots,
    getObjectSlots
)

exportMethods(
    ## from R/updateObject.R:
    updateObject
)

