import(methods)

export(
    ## from R/cbind.R:
    cbind, rbind,

    ## from R/order.R:
    order,

    ## from R/paste.R:
    paste,

    ## from R/table.R:
    table,

    ## from R/union.R:
    union, intersect, setdiff,

    ## from R/updateObject.R:
    updateObject,
    updateObjectFromSlots,
    getObjectSlots
)

exportMethods(
    ## from R/updateObject.R:
    updateObject
)

