import(methods)

export(
    ## from R/cbind.R:
    cbind, rbind,

    ## from R/duplicated.R:
    duplicated, anyDuplicated,

    ## from R/eval.R:
    eval,

    ## from R/Extremes.R:
    pmax, pmin, pmax.int, pmin.int,

    ## from R/funprog.R:
    Reduce, Filter, Find, Map, Position,

    ## from R/lapply.R:
    lapply, sapply,

    ## from R/mapply.R:
    mapply,

    ## from R/order.R:
    order,

    ## from R/paste.R:
    paste,

    ## from R/rep.R:
    rep.int,

    ## from R/row_colnames.R:
    rownames, colnames,

    ## from R/sets.R:
    union, intersect, setdiff,

    ## from R/table.R:
    table,

    ## from R/tapply.R:
    tapply,

    ## from R/unique.R:
    unique,

    ## from R/xtabs.R:
    xtabs,

    ## from R/combine.R:
    combine,

    ## from R/updateObject.R:
    updateObject,
    updateObjectFromSlots,
    getObjectSlots
)

exportMethods(
    ## from R/combine.R:
    combine,

    ## from R/updateObject.R:
    updateObject
)

exportClasses(
    ## from R/connection-classes.R:
    connection, file, url, gzfile, unz, pipe, sockconn, terminal,
    textConnection, gzcon, characterORconnection
)
